{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Búsqueda
{% endblock %}

{% block content %}


    <div>
        <h1>Resultados de la búsqueda</h1>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float:left;">
            <h2>Categorías</h2>
            <ul>
                {% if categorias|length != 0 %}
                    {% for cat in categorias %}
                        <li><a href="{% url "categoria" %}{{ cat }}">{{ cat }}</a></li>
                    {% endfor %}
                {% else %}
                    No results found
                {% endif %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float:left;">
            <h2>Datos</h2>
            <ul>
                {% if datos|length != 0 %}
                    {% for dat in datos %}
                        <li><a href="{% url "dato" %}{{ dat.name }}">{{ dat.name }}</a></li>
                    {% endfor %}
                {% else %}
                    No results found
                {% endif %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float:left;">
            <h2>Descripciones</h2>
            <ul>
                {% if descripcion|length != 0 %}
                    {% for desc in descripcion %}
                        <li>{{ desc.description }} <br><a href="{% url "dato" %}{{ desc.name }}">{{ desc.name }}</a></li>
                    {% endfor %}
                {% else %}
                    No results found
                {% endif %}
            </ul>
        </div>


    </div>
{% endblock %}