{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block content %}


    <div>
        <h1>Datos sobre {{ categoria }}</h1>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="float:left;">
            <ul>
                {% for p in pubs %}
                    <li>
                        <a href="{% url "dato" %}{{ p.name }}">{{ p.name }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <h3>Categorías Relacionadas</h3>
            <ul>

                {% for tag in rel %}
                    <li>
                        <a href="{% url "categoria" %}{{ tag }}">{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>


    </div>
{% endblock %}