{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block content %}


    <div>
        <h1><font>{{ nombre }}</font></h1>
        <p>{{ pub.description }}</p>

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="float:left;">
            <h2>Vista grafica</h2>
            <div id="chart_test_dato"></div>


        </div>

        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="float:left;">

            <h2>Descarga</h2>
            <p>csv  json</p>
        </div>


        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="float:left;">
            <h2>Metadata</h2>
            <table class="table">
                <tr>
                    <th>Fuentes de datos</th>
                    {% for fuente in pub.data_sources.all %}
                        <td>{{ fuente }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Actualización</th>
                    <td>{{ pub.update_value }} {{ pub.update_type }}</td>
                </tr>
                <tr>
                    <th>Antiguedad</th>
                    <td>{{ pub.started }}</td>
                </tr>
                <tr>
                    <th>Responsable</th>
                    {%  for resp in pub.responsibles.all %}
                        <td>{{ resp }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th rowspan= {{ n_tags }} >TAGs</th>
                    {%  for tag in pub.tags.all %}
                        <tr><td>{{ tag }}</td></tr>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Ultima actualización</th>
                    <td>{{ pub.modified }}</td>
                </tr>
                <tr>
                    <th>Punto de contacto</th>
                    <td>lacnic@lacnic.net</td>
                </tr>
            </table>
        </div>


    </div>
{% endblock %}

{% block afterbody %}


    <script>

        CHARTS.draw({
            x: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
            ys: [[13.40, 12.60, 16.50, 12.54, 12.96, 16.17, 13.74, 14.90, 13.93, 13.74, 18.32, 11.55, 16.71, 14.49, 15.83, 19.84, 18.95, 14.30, 16.39, 11.71, 14.43]],
            labels: ['Facebook'],
            kind: 'LineChart',
            divId: 'chart_test_dato',
            colors: ['3b5998'],
            my_options: {
                height: 300,
                chartArea: {
                    left: "40"
                }
            }
        });

    </script>
{% endblock %}