{% extends "../base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block content %}

    <div class="jumbotron">
        <h1>
            Open <font>Data</font>
        </h1>

        <h3>Acceso a datos sobre recursos de Internet relevados por LACNIC</h3>

        <p>
            Este portal está dedicado a mostrar y disponibilizar datasets generados por LACNIC de diversos ámbitos a modo experimental o de estadíticas generales sobre los recursos asignados en la región.
        </p>
        <p>
            Es un portal de uso público que brinda la posibilidad de descargar los datos descriptos en formatos estándar para uso personal.
        </p>
    </div>

    <div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <h2>Categorías</h2>
            <ul>
                {% for c in cat %}
                    <li>
                        <a href="{% url "categoria" %}{{ c }}">{{ c }}</a>
                    </li>

                {% endfor %}
            </ul>

        </div>


        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="float: right;">
            <a href="{% url "dato" %}ipv6 visibility"><h2> IPv6 Visibility </h2></a>
            <div id="chart_test"></div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <h2>Lo más visto</h2>
            <ul>
                {% for p in most %}
                    <li>
                        <a href="{% url "dato" %}{{ p.name }}">{{ p.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <h2>Recientemente agregado</h2>
            <ul>
                {% for p in recent %}

                            <li>
                                <a href="{% url "dato" %}{{ p.name }}">{{ p.name }}</a>
                            </li>

                {% endfor %}
            </ul>

        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="float: right;">
            <a href="{% url "dato" %}available ipv4 space"><h2> Available IPv4 Space </h2></a>
            <div id="chart_test2"></div>
        </div>


    </div>


{% endblock %}

{% block afterbody %}


    <script>

        function parseDate(fecha) {
            var s = fecha.slice(5,fecha.length);
            var d = s.split(", ");
            var mes = Number(d[1])+1;
            if (mes < 10){
                mes = "0"+ mes.toString();
            }
            var date = d[0]+ "-" + mes + "-" +d[2];
            return date;
        }

        function chart_1(b) {
            var rows = b['rows'];
            var x = [];
            var y1 = [];
            var y2 = [];

            var allocations = 0;
            var announces = 0;
            var aniomes = "";

            for (i = 0; i < rows.length; i++){
                var fecha = parseDate(rows[i]['c'][0]['v']);
                aniomes = fecha.slice(0,7)

                var alloc = Number(rows[i]['c'][1]['v']);
                var annou = Number(rows[i]['c'][2]['v']);

                if (i+1 < rows.length){
                    if (aniomes == parseDate(rows[i+1]['c'][0]['v']).slice(0,7)){
                        allocations = allocations + alloc
                        announces = announces + annou
                    }else{
                        x.push(aniomes+"-01")
                        y1.push(allocations)
                        y2.push(announces)
                        allocations = 0;
                        announces = 0;
                    }
                }


{#                x.push(fecha)#}
{#                y1.push(alloc)#}
{#                y2.push(annou)#}

            }

            CHARTS.draw({
                x: x,
                ys: [y1, y2],
                labels: ['Allocated', 'Announced'],
                kind: 'LineChart',
                divId: 'chart_test',
                xType: 'date',
                my_options: {
                    height: 300,
                    chartArea: {
                        left: "40",
                        top: "5"
                    }
                }
            });

        }

        function chart_2(b) {
            var rows = b['rows'];
            var x = [];
            var y = [];

            for (i = 0; i < rows.length; i++){
                var fecha = parseDate(rows[i]['c'][0]['v']);
                var valor = Number(rows[i]['c'][1]['v']);
                x.push(fecha)
                y.push(valor)
            }

            CHARTS.draw({
                x: x,
                ys: [y],
                labels: ['IPv6 Nativo MX'],
                kind: 'LineChart',
                divId: 'chart_test2',
                xType: 'date',
                colors: ['blue'],
                my_options: {
                    height: 300,
                    chartArea: {
                        left: "100",
                        top: "5"
                    }
                }
            });

        }

        fetch('http://localhost:8002/static/data/ipv6_visibility-2017-08-23.json').then( function(a){ return a.json()}).then(function(b){ chart_1(b)});

        fetch('http://localhost:8002/static/data/available_ipv4_space-2017-08-23.json').then( function(a){ return a.json()}).then(function(b){ chart_2(b)});

        // se debe usar "localhost" para llamar al portal


    </script>
{% endblock %}